version: '2'
services:
  dnsmasq:
    image: andyshinn/dnsmasq
    container_name: 0-dnsmasq
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - 53:53/tcp
      - 53:53/udp
    command: --address=/dev/172.16.123.1

  nginx-proxy:
    #image: jwilder/nginx-proxy
    build: .
    container_name: 0-nginx-proxy
    image: presspage/0-nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ".:/app/"
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
      - "./nginx/vhost:/etc/nginx/vhost.d"
      - "./nginx/lua:/usr/local/openresty/nginx/lua"
      - "./nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf"

  swagger-ui:
    container_name: 0-swagger-ui
    image: schickling/swagger-ui
    environment:
      VIRTUAL_HOST: swagger-ui.presspage.dev

  socat:
    image: shipyard/docker-proxy
    container_name: 0-socat
    ports:
      - 2376:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      PORT: 2375

#  Please keep it here!
#  mysql:
#    image: mysql
#    container_name: 0-mysql
#    ports:
#      - 3305:3306
#    volumes:
#      - ".data:/var/lib/mysql"
#    restart: always
#    environment:
#      MYSQL_ROOT_PASSWORD: mm1234
#      MYSQL_DATABASE: presspage_database

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.21.0.0/16
        gateway: 172.21.0.1
